<% include ../partials/header %>
<body>
  <header><% include ../partials/navbar %></header>
  <main class="main">
    <div class="container">
      <div class="page-header">
        <h1>About Me</h1>
      </div>
      <div class="row">
        <div class="col-md-9">
          <br />
          <p>I am a software engineer internship, continuous learner.</p>
          <p>
            Currently a student at FPT University and interning at FPT software
            with the hope of studying and working here in the future.
          </p>
          <br />
        </div>
        <div class="col-md-3">
          <img src="../images/lucy.png" alt="Lucy" />
        </div>
      </div>

      <!-- qualifications section -->
      <div class="row">
        <div class="col-lg-12">
          <h2 class="page-header">Skill</h2>
        </div>
        <div class="col-lg-4 col-sm-6 text-center">
          <img
            class="img-center"
            src="../images/responsive_web_development.png"
            height="200"
            alt="Responsive Web Design"
          />
          <h3>Responsive Design<br /><small>CSS, Bootstrap</small></h3>
          <p>Website that is responsive to the scale of any devices.</p>
        </div>
        <div class="col-lg-4 col-sm-6 text-center">
          <img
            class="img-center"
            src="../images/java-logo.png"
            height="200"
            alt="Java"
          />
          <h3>OOP<br /><small>Java</small></h3>
          <p>Object-Oriented Programming</p>
        </div>
        <div class="col-lg-4 col-sm-6 text-center">
          <img
            class="img-center"
            src="../images/mean.png"
            height="200"
            alt="MEAN stack"
          />
          <h3>React<br /><small>NodeJs</small></h3>
          <p>Building a Dynamic Web Application</p>
        </div>
      </div>
    </div>
  </main>
  <% include ../partials/footer %>
</body>
