<% include ../partials/header %>
<body>
  <header><% include ../partials/navbar %></header>
  <main class="main">
    <div class="container">
      <div class="page-header">
        <h1>Services</h1>
      </div>
      <img
        class="serviceimg"
        src="../images/cms-design.png"
        alt="services"
        width=""
      />
      <p>
        I'm just a trainee but always have the spirit to learn so I will try my
        best whatever I can.
      </p>
      <p>
        If you have an enquiry, <a href="/contact">click here</a> to send me an
        email. <br /><br />
      </p>
    </div>
  </main>
  <% include ../partials/footer %>
</body>
